<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Designed by <a href="http://dizefurkan.site">dizefurkan</a>
                </p>
            </div>
        </div>
    </div>
</div>