<ul class="navbarList clearfix">
    <li><a href="/">Index</a></li>
    <li><a href="/home">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/userlist">UserList</a></li>
</ul>